################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/vc17/.vs/theforgottenserver
/vc17/x64
